{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    {% if app.user %}
        <h1>Hello {{ app.user.username }}</h1>
    {% else %}
        <h3>Welcome...</h3>
    {% endif %}

{% endblock %}
