{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}

    {% if app.user %}
        <h2>Hello
            {% if is_granted('ROLE_ADMIN') %}
                Admin
            {% elseif is_granted('ROLE_AGENT') %}
                Agent
            {% else %}
                User
            {% endif %}
            {{ app.user.username }}</h2>
    {% else %}
        <h2>Welcome...</h2>
    {% endif %}

{% endblock %}
