{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <a class="btn btn-outline-secondary float-right" href="{{ path('user_index') }}">back to list</a>

    <h1>Create new User</h1>

    {{ include('user/_form.html.twig') }}

{% endblock %}
